services:
  db:
    image: postgres:15
    container_name: geochecker_postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL","pg_isready", "-d","geochecker_db"]
      interval: 10s
      timeout: 3s
      retries: 3
    volumes:
      - postgres_data:/var/lib/postgresql/data
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env
  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/var/lib/redis/data
    env_file:
      - .env
    healthcheck:
      test: ["CMD","redis-cli","ping"]
      interval: 1s
      timeout: 3s
      retries: 30
      start_period: 5s
    command: ["redis-server"]
  migrate: 
    image: migrate/migrate 
    volumes:
      - ./migrations:/migrations
    command: [
      "-path", "/migrations",
      "-database", "${DATABASE_URL}",
      "up"
    ]
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
  redis_data:
